* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 50px;
  background: #e5e5e5;
}
.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.25s;
  pointer-events: none;
}

li {
  list-style: none;
}

li a {
  display: block;
  float: left;
  width: 20%;
  padding: 25px 0;
  text-align: center;
  font-family: "HeydingsCommonIconsRegular", Helvetida Neue, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  color: #fff;
  background: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
li > li a {
  margin: -20px 0 0 0;
}
li a:hover {
  margin: -20px 0 0 0;
}

.menu {
  width: 500px;
  margin: 60px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.menu li:first-child a {
  background-color: #ffca6d;
}

.menu li:nth-child(2) a {
  background-color: #ff6d6d;
}
.menu li:nth-child(3) a {
  background-color: #6dffb9;
}

.menu li:first-child:hover ~ .bg {
  background: #ffca6d;
}
.menu li:nth-child(2):hover ~ .bg {
  background: #ff6d6d;
}
.menu li:nth-child(3):hover ~ .bg {
  background: #6dffb9;
}
.menu li li {
  position: absolute;
  left: 10px;
  right: 0;
  top: 10px;
  bottom: 0px;
}
.menu .sub-menu > li {
  /* position: fixed; */
  width: 35%;
  height: 78px;
  line-height: 30px;
  /* margin: -40px 0 0 0; */
}
.menu .sub-menu > li > a {
  background-color: #fafafa;
  height: 78px;
  color: #fff;
}
/* .menu li > a:hover {
  background-color: #2c89c6;
} */
.menu li li > a:hover {
  background-color: #e42121;
}
.menu::after {
  content: "";
  display: block;
  clear: both;
}
.sub-menu {
  display: none;
}
.menu > li:hover .sub-menu {
  display: block;
}

.menu .sub-menu > li:first-child a {
  background-color: #ffca6d;
}

.menu .sub-menu > li:nth-child(2) a {
  background-color: #ff6d6d;
}
.menu .sub-menu > li:nth-child(3) a {
  background-color: #6dffb9;
}
.menu .sub-menu > li:nth-child(4) a {
  background-color: #6dcaff;
}
.menu .sub-menu > li:nth-child(5) a {
  background-color: #ec6dff;
}
.menu .sub-menu > li:first-child:hover ~ .bg {
  background: #ffca6d;
}
.menu .sub-menu > li:nth-child(2):hover ~ .bg {
  background: #ff6d6d;
}
.menu .sub-menu > li:nth-child(3):hover ~ .bg {
  background: #6dffb9;
}
.menu .sub-menu > li:nth-child(4):hover ~ .bg {
  background: #6dcaff;
}
.menu .sub-menu > li:nth-child(5):hover ~ .bg {
  background: #ec6dff;
}
