* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 50px;
  background: #e5e5e5;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.25s;
  pointer-events: none;
}
li a:hover {
  margin: -20px 0 0 0;
}
.menu {
  display: block;
  width: 500px;
  margin: 60px auto 0 auto;
  border-radius: 10px;
  overflow: clip;
}
a {
  width: 200px;
  height: 200px;
}
li a {
  display: block;
  min-width: 20%;
  float: left;
  padding: 25% 0;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  transition: 0.25s;
  text-align: center;
  line-height: -110%;
}
.menu li:first-child a {
  background-color: #ffca6d;
}

.menu li:nth-child(2) a {
  background-color: #ff6d6d;
}
.menu li:nth-child(3) a {
  background-color: #6dffb9;
}
.menu li:nth-child(4) a {
  background-color: #6dcaff;
}
.menu li:nth-child(5) a {
  background-color: #ec6dff;
}
.menu li:first-child:hover ~ .bg {
  background: #ffca6d;
}
.menu li:nth-child(2):hover ~ .bg {
  background: #ff6d6d;
}
.menu li:nth-child(3):hover ~ .bg {
  background: #6dffb9;
}
.menu li:nth-child(4):hover ~ .bg {
  background: #6dcaff;
}
.menu li:nth-child(5):hover ~ .bg {
  background: #ec6dff;
}
